.welcome-message {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.another-message {
    font-size: 20px;
    font-weight: bold;
    color:aquamarine;
    text-align: center;
}
